// Common abstract classes to extend or parametrics are stored here.

// Example parametrics.
// ------------------------------------------------------
// %font-FONTNAME   {}
// %font-sans-serif { font-family: sans-serif; }
// %font-serif      { font-family: serif; }

html{
  font-family: $body-font-family;
  font-weight: light;
}

@for $i from 1 through 6 {
  h#{$i}, .h#{$i} {
    // text-transform: uppercase;
    font-weight: bold;
    color: $primary-color;
  }
}

.subheader{
  text-transform: uppercase;
}

.t-white{
  color: $white;
  &:hover,
  &:active{
    color: $white;
  }  
}

%transparent-block{
  &:before{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $black;
    opacity: 0.4;
    content: '';
    display: block;
    z-index: 0;
  }
}

.bg-image{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.tag{
  text-transform: uppercase;
  color: $secondary-color;
}

.big-card{
  position: relative;
  text-align: center;
  display: block;

  >a{
    display: block;
    overflow: hidden;
    img{
      width: 200%;
    }
  }
  .bc-text{
    position: absolute;
    bottom: 1rem;
    width: 100%;
    transform: translateX(-50%);
    left: 50%;
    z-index: 1;
    a{
      color: $white;
      display: block;
      &:hover,
      &:active{
        color: $white;
        text-decoration: underline;
      } 
    }
  }
  &:hover{
    >a{
      @extend %transparent-block;
    }
  }
}

.gl-overlay{  
  @extend %transparent-block;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4;  
}

.overlay-content{
  display: none;
  background-color: $white;
  z-index: 5;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  transition-duration: 0.23s !important;
  .body{
    padding: $global-padding;
  }
  @include breakpoint(large up) {
    width: 50%;
  }
}

.button{
  padding-left: $global-padding*2;
  padding-right: $global-padding*2;
  font-weight: bold;
  text-transform: uppercase;
}

.more-link{
  a{
    @extend .button, .success;
    text-transform: uppercase;
  }
}

.js-pager__items{
  @extend .no-bullet;

  a{
    @extend .button, .success;
    text-transform: uppercase;
  }
}

.media-object{
  border: 1px solid $medium-gray;
  padding: $global-padding;

  .phone{
    ul{
      @extend .no-bullet;
    }
  }
  .email{
    ul{
      @extend .no-bullet;
    }
  }
}

.card{
  img{
    width: 100%,
  }
}

.card-image{
  position: relative;
  .card-section{
    @extend %transparent-block;
    padding: 0;
    h3{
      position: absolute;
      top: $global-padding*2.5;
      left: $global-padding*2;
      color: $white;
      z-index: 1;
      font-weight: lighter;
    }
  }
}

.small-text{
  color: $secondary-color;
}

.breadcrumbs{
  margin-bottom: 0;
  @extend .padding-horizontal-1;
}

.icon{
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  color: $white;
  background-color: $success-color;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  text-align: center;

  &.restaurantes{
    background-image: url("../images/servicios/restaurantes.png")
  }
  &.servicios-bancarios{
    background-image: url("../images/servicios/servicios-bancarios.png")
  }
  &.parqueaderos{
    background-image: url("../images/servicios/parqueaderos.png")
  }
  &.tiendas{
    background-image: url("../images/servicios/tiendas.png")
  }
}

.icon-blue{
  @extend .icon;
  background-color: $primary-color;
}

li{
  &.slide__grid.grid{
    width: 100%;
    margin: 20px;
  }
}

.container-text{
    width: 50%;
    margin: 14% 40px;
    background: transparent;
}